[submodule "private/license-issuer"]
	path = private/license-issuer
	url = ../hakopod-license-issuer.git
[submodule "packages/ui"]
	path = packages/ui
	url = ../hatch-ui.git
	branch = sudo
[submodule "templates"]
	path = templates
	url = https://github.com/hakopod/templates.git
